* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 600px;
    height:116px;
    font-family: "Smythe", system-ui;
    background-color: #FFFFFF;
}

header{
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 167px;
}

h1 ,header p{
    color:#FFFFFF;
    padding-left: 46px;
}

h1{
    font-size: 39px;
    color:#FFFFFF;
    padding-top: 46px;
    line-height:24px;
}

header p{
    font-size:22.42px;
    color:#FFFFFF;
    padding-top: 19px;
    line-height:14px;
}

.food-container{
    display: flex;
    align-items: center;
    gap: 31px;
}

.food-image{
    font-size: 75px;
}

h2{
    font-size: 28px;
    margin: 0;
    
}

.price{
    font-size: 16px;
    color: #8B8B8B;
    
}

.price-text p{
    font-size: 20px;
    color: #000000;
    margin-top: 8px;
}

.addCart{
    font-size: 32px;
    text-align: center;
    border: 1px solid #DEDEDE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}

main {
    margin: 67px 46px 0 46px;
}

.food-card{
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;
}

.container{
    align-items: center;
}


